{% extends 'courses/base.html' %}

{% block title %}Signup Page
{% endblock %}

{% block content %}

<div class="container-fluid">
    <br>
    <h1>My Courses</h1>
    <hr>

        <div class="row">
            {% for user_course in user_courses %}
            <div class='col mx-auto'>
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="{{user_course.course.thumbnail.url}}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title text-center border">{{user_course.course.name}}</h5>
                        </div>
                        
                        <div class='card-footer p-0'>
                            <div class='row no-gutters'>
                                <div class="col mx-auto border-right"><a class='btn btn-light btn-block' href="/course/{{user_course.course.slug}}">Start Course</a></div>
                            </div>
                        </div>
    
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    
</div>



{% endblock %}